version: "3"

services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - "./www:/www"
      - "./site.conf:/etc/nginx/conf.d/default.conf"
    links:
      - php
  php:
    image: php:7-fpm
    volumes:
      - "./www:/www"
    links:
      - db
  db:
    image: mysql
    user: "1000:50"
    restart: on-failure
    environment:
      - MYSQL_ROOT_PASSWORD=password
#      - MYSQL_DATABASE=news
      - MYSQL_USER=root
#      - MYSQL_PASSWORD: "root"
    volumes:
      - "./database/mysql:/var/lib/mysql"
    ports:
      - "3306:3306"
#  composer:
#    image: composer
#    volumes:
#      - "./vendors:/vendors"
#    command: install